<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>MiniLang Compiler IDE</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="main-container">

        <!-- LEFT SIDE -->
        <div class="editor-panel">

            <div class="topbar">
                <h1>MiniLang Compiler IDE</h1>
            </div>

            <form method="POST">

                <textarea
                    name="code"
                    spellcheck="false"
                    placeholder="Write your MiniLang code here..."
                >{% if request.form.code %}{{ request.form.code }}{% endif %}</textarea>

                <button type="submit">
                    ▶ RUN COMPILER
                </button>

            </form>

        </div>

        <!-- RIGHT SIDE -->
        <div class="result-panel">

            {% if result %}

            <!-- TOKENS -->
            <div class="card">

                <h2>Tokens</h2>

                <div class="scroll-box">

                    <pre>
{% for token in result.tokens %}
{{ token }}
{% endfor %}
                    </pre>

                </div>

            </div>

            <!-- VARIABLES -->
            <div class="card">

                <h2>Variables Table</h2>

                <div class="scroll-box">

                    <pre>{{ result.variables }}</pre>

                </div>

            </div>

            <!-- OUTPUT WINDOW -->
            {% if result.errors|length == 0 %}

            <div class="card output-card">

                <h2>Program Output</h2>

                <div class="output-window">

                    {% for log in result.logs %}

                        {% if "OUTPUT" in log %}

                            <div class="output-line">

                                {{ log }}

                            </div>

                        {% endif %}

                    {% endfor %}

                </div>

            </div>

            {% endif %}

            <!-- EXECUTION LOGS -->
            <div class="card">

                <h2>Execution Logs</h2>

                <div class="scroll-box">

                    <pre>
{% for log in result.logs %}
{{ log }}
{% endfor %}
                    </pre>

                </div>

            </div>

            <!-- ERRORS -->
            {% if result.errors %}

            <div class="card error-card">

                <h2>Compiler Errors</h2>

                <div class="scroll-box">

                    <pre>
{% for error in result.errors %}
{{ error }}
{% endfor %}
                    </pre>

                </div>

            </div>

            {% endif %}

            {% endif %}

        </div>

    </div>

</body>

</html>
